<div class="container-fluid">

    <div class="custom-card">

        <button class="btn btn-block google-sign-in" (click)="signInHandler()">
            <img [src]="'assets/images/google.svg'" alt="google" class="google-sign-logo"/>
            <span> Sign In With Google </span>
        </button>

    </div>

</div>