<div class="container-fluid">

    <div class="custom-card">

        <div class="text-center mb-4">
            <img [src]="userDatails?.photoUrl" alt="avatar-google" class="avatar-google"/>
        </div>
        
        <div class="mb-2">
            <span class="font-weigth-bold"> Name: </span> {{userDatails?.name}}
        </div>
        
        <div class="mb-2">
            <span class="font-weigth-bold"> Email: </span> {{userDatails?.email}}
        </div>
        
        <button class="btn btn-block btn-danger mt-4" (click)="signOut()"> Sign Out </button>
        
    </div>
</div>